:root{
  --normal: #A8A77A;
	--fire: #EE8130;
	--water: #6390F0;
	--electric: #F7D02C;
	--grass: #7AC74C;
	--ice: #96D9D6;
	--fighting: #C22E28;
	--poison: #A33EA1;
	--ground: #E2BF65;
	--flying: #A98FF3;
	--psychic: #F95587;
	--bug: #A6B91A;
	--rock: #B6A136;
	--ghost: #735797;
	--dragon: #6F35FC;
	--dark: #705746;
	--steel: #B7B7CE;
	--fairy: #D685AD;
}

/* CSS reset, font */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
  font-family:'Courier New', Courier, monospace;
}

/* .water{
  var(--water: #6390F0;)

} */

/* Heading container for website, contains logo and heading */
.heading-container{
  background: #505050;
  height: 120px;
  display: flex;
  justify-content: center;
}

/* logo */
.logo{
  width: auto;
  height: 110px;
  display: inline-block;
}

/* Heading */
h1{
  padding-top: 30px;
  margin-left: 20px;
  font-size: 3rem;
  color: #ffde24;
}

/* Search container  */
.search-container{
  display: block;
  text-align: center;
  font-size: 1.4rem;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  
}

/* Search text */
.search-text{
  display: block;
  color: #1b1b1b;
}

/* Search for pokemon */
.search-bar{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 23px;
  width: 210px;
  font-size: 1.1rem;
  border-radius: 20px;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
}

.search-btn{
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  width: 180px;
  height: 30px;
  font-size: 1.2rem;
  background-color: rgb(235, 235, 235);
  cursor: pointer;
  border: 1px solid black;
}

.search-btn:hover{
  color: #ffffff;
  background-color: #1c2884;
}

/* Pokemon profile container */
.card-container{
  width: 400px;
  max-height: 400px;
  display: flex;
  justify-content: space-evenly;
  background-color: #ececec;
  color: #eeeeee;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #444444;
  margin: 30px;
  font-size: 1.1rem;
  display: inline-block;
  text-align: center;
}

.pokeImage{
  height: 250px;
  width: auto;
}

.name{
  padding: 10px 0;
  display: inline;
}

/* Pokemon profile information, remaining text hidden until hover */
.info-container{
  padding-top: 5px;
  max-height: 30px;
  width: 400px;
  font-family:'Courier New', Courier, monospace;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  text-align: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #474747;
}

/* On hover, card glows yellow */
.card-container:hover{
  box-shadow: 0px 0px 10px #ffc400;
}

/* On hover, card will display more pokemon info */
.info-container:hover{
  max-height: 700px;
}

.name{
  font-size: 1.4rem;
}

.typeInfo{
  font-size: 1.2rem;
  color: #ee56ff;
  margin-top: 20px;
}

.abilityInfo{
  font-size: 1.2rem;
  color: #fff786;
  margin-top: 20px;
}

.base-stats-container{
  font-size: 1.2rem;
  color: rgb(73, 193, 245);
  margin-top: 20px;
}

.base-stats-info{
 

}

.btns-container{
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 60px;
  margin-top: 20px;

}

.prev-btn{
  padding: 5px 5px;
  cursor: pointer;
  margin-right: 20px;
  width: 90px;
  max-width: 100px;
  border-radius: 20px;
  border: 2px solid grey;
  background-color: #ffeaea;
  font-size: .9rem;
}

.prev-btn:hover{
  margin-top: 2px;
  background-color: #9c0000;
  color: white;
}

.next-btn{
  padding: 5px 5px;
  cursor: pointer;
  margin-left: 20px;
  width: 90px;
  max-width: 100px;
  border-radius: 20px;
  border: 2px solid grey;
  background-color: #ebffea;
  font-size: .9rem;
}

.next-btn:hover{
  margin-top: 2px;
  background-color: #067c00;
  color: white;
}